<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BrokerApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera for uploading documents.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>the app needs access to your location to provide nearby property listings.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationService</key>
		<string>We need access to your location to improve your experience.</string>
	</dict>
	<key>NSLocationUsageDescription</key>
	<string>This app requires access to your location to help you find nearby properties.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location while in use to display nearby property listings</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to allow you to upload property photos, documents, and other media.</string>
	<key>NSMicrophoneUsageDescription</key>
<string>We need access to the microphone for recording audio for posts and video calls.</string>

	<key>UIAppFonts</key>
	<array>
		<string>Gilroy Black.ttf</string>
		<string>Gilroy BlackItalic.ttf</string>
		<string>Gilroy Bold.ttf</string>
		<string>Gilroy BoldItalic.ttf</string>
		<string>Gilroy ExtraBold.ttf</string>
		<string>Gilroy ExtraBoldItalic.ttf</string>
		<string>Gilroy Heavy.ttf</string>
		<string>Gilroy HeavyItalic.ttf</string>
		<string>Gilroy Light.ttf</string>
		<string>Gilroy LightItalic.ttf</string>
		<string>Gilroy Medium.ttf</string>
		<string>Gilroy MediumItalic.ttf</string>
		<string>Gilroy Regular.ttf</string>
		<string>Gilroy RegularItalic.ttf</string>
		<string>Gilroy SemiBold.ttf</string>
		<string>Gilroy SemiBoldItalic.ttf</string>
		<string>Gilroy Thin.ttf</string>
		<string>Gilroy ThinItalic.ttf</string>
		<string>Gilroy UltraLight.ttf</string>
		<string>Gilroy UltraLightItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>CFBundleURLTypes</key>
<array>
  <dict>
    <key>CFBundleURLSchemes</key>
    <array>
      <string>com.googleusercontent.apps.291590546828-sq554qt1cr52ng0g2amdd1q8gt0pmrqi</string>
    </array>
  </dict>
</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

</dict>
</plist>
